/* .user-product-history-footer{
    margin-top: 4%;
} */

@media only screen and (max-width: 768px) {
    .productHistoryTableBody{
        padding: 5%;
    }
}
@media only screen and (min-width: 768px) {
    .productHistoryTableBody{
        padding: 3%;
    }
}